.user
  %h1
    = @user.name

  %h2
    Vote History
  %table
    %tr
      %td
        Vote
      %td
        Song
      %td
        DJ
    - @user.votes.each do |vote|
      %tr
        %td
          = vote.value
        %td
          - meta = vote.song.meta
          = "#{meta.artist} - #{meta.song}"
        %td
          = vote.dj.name if vote.dj
          
          
  %h2
    Upvotes Received
  %table
    %tr
      %td
        Song
      %td
        DJ
    - @user.upvotes.each do |vote|
      %tr
        %td
          - meta = vote.song.meta
          = "#{meta.artist} - #{meta.song}"
        %td
          = vote.user.name
          
          
  %h2
    Downvotes Received
  %table
    %tr
      %td
        Song
      %td
        DJ
    - @user.downvotes.each do |vote|
      %tr
        %td
          - meta = vote.song.meta
          = "#{meta.artist} - #{meta.song}"
        %td
          = vote.user.name