.user
  %h1
    = @user.name

  .similarity
    %h2
      Similar DJs
    - User.similar_to(@user).each do |rating, user|
      .other_user
        = "#{rating.to_s[0..4]}: #{user.name}"
  
  .plays
    %h2
      Plays
    - @user.plays.each do |play|
      - meta = play.meta
      .play
        = "#{meta.artist} - #{meta.song}"
    
  
  .history
    %h2
      Vote History
    %table
      %tr
        %td
          Vote
        %td
          Song
        %td
          DJ
      - @user.votes.each do |vote|
        %tr
          %td
            = vote.value
          %td
            - meta = vote.song.meta
            = "#{meta.artist} - #{meta.song}"
          %td
            = vote.dj.name if vote.dj
          
  .upvotes    
    %h2
      Upvotes Received
    %table
      %tr
        %td
          Song
        %td
          From
      - @user.upvotes.each do |vote|
        %tr
          %td
            - meta = vote.song.meta
            = "#{meta.artist} - #{meta.song}"
          %td
            = vote.user.name
          
  .downvotes          
    %h2
      Downvotes Received
    %table
      %tr
        %td
          Song
        %td
          From
      - @user.downvotes.each do |vote|
        %tr
          %td
            - meta = vote.song.meta
            = "#{meta.artist} - #{meta.song}"
          %td
            = vote.user.name