.user
  .info
    .avatar
      %img{ :src => "https://s3.amazonaws.com/static.turntable.fm/roommanager_assets/avatars/#{@user.avatarid}/headfront.png"}
    %h1
      = @user.name
    .facebook
      %a{:href => "http://facebook.com/profile.php?id=#{@user.fbid}"}
        (on Facebook)

  .similarity
    %h2
      Similar DJs
    %table
      %tr
        %td
          Similarity
        %td
          DJ          
      - User.similar_to(@user).each do |rating, user|
        - next if rating > 1 or @user.name == user.name
        %tr
          %td
            = "#{(rating*100).to_s[0..4]}"
          %td
            %a{:href => "/users/#{user.id}"}
              = user.name
  
  .history
    %h2
      Vote History
    %table
      %tr
        %td
          Vote
        %td
          Song
        %td
          DJ
      - @user.votes.each do |vote|
        %tr
          %td
            = vote.value
          %td
            - meta = vote.song.meta
            = "#{meta.artist} - #{meta.song}"
          %td
            - if vote.dj
              %a{:href => "/users/#{vote.dj.id}"}
                = vote.dj.name 
            
  
  .plays
    %h2
      Plays
    - @user.plays.each do |play|
      - meta = play.meta
      .play
        %img{:src => "#{meta.coverart}"}
        %br
        = "#{meta.artist} - #{meta.song}"
          
  .upvotes    
    %h2
      Upvotes Received
    %table
      %tr
        %td
          Song
        %td
          From
      - @user.upvotes.each do |vote|
        %tr
          %td
            - meta = vote.song.meta
            = "#{meta.artist} - #{meta.song}"
          %td
            = vote.user.name
          
  .downvotes          
    %h2
      Downvotes Received
    %table
      %tr
        %td
          Song
        %td
          From
      - @user.downvotes.each do |vote|
        %tr
          %td
            - meta = vote.song.meta
            = "#{meta.artist} - #{meta.song}"
          %td
            = vote.user.name